
body {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

header {
	margin: 0;
}

h2 {
	margin-top: 0;
}


.wrapper, .wrapper-content {
	background-color: #008;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 0;
	margin-top: 0;
}

.site-header {
	background-color: #00a;
	border-bottom: 1px solid #00c;
	clear: both;
	overflow: hidden;
	height: 90px;
	width: 1200px;
	margin: 0 auto;
}

.site-header .wrapper {
	background-color: #00a;
}

.left-header {
	display: block;
	float: left;
}

.home-link {
	display: block;
	font-variant: small-caps;
	font-size: 36px;
	padding: 10px 10px 10px 0;
}

.site-header a {
	text-decoration: none;
	color: #FFAA00;
}

.error {
	display: block;
	color: #FF9090;
}

.success {
	display: block;
	color: #33FF33;
}



.login-form {
	display: block;
	clear: both;
	overflow: hidden;
}

.input-login {
	display: block;
	float: left;
}


.input-login label {
	width: 90px;
	display: inline-block;
	color: #FFBF40;
}

section {
	background-color: #FFFFFF;
	width: 950px;
	float: right;
}

aside {
	width: 250px;
	float: left;
	height: 100%;
	color: #FFBF40;
}


.clear-footer {
	clear: both;
}

footer {
	border-top: 1px solid #00c;
	background-color: #00a;
	clear: both;
	height: 80px;
	text-align: center;
	color: #FFBF40;
	margin: 0 auto;
	width: 1200px;
}

footer p {
	margin: 0;
}

.wrapper-aside {
	margin: 10px;	
}

aside ul {
	color: white;
	background: #008;
	border-bottom: 0.2em solid #008;
	border-right: 0.2em solid #008;
	padding: 0 1px;
	margin-left: 0;
	width: 230px;
	font: normal 0.8em Verdana, sans-serif;
}

aside li {
	list-style: none;
	margin: 0.5em 0;
	padding: 0;
	border: 1px solid #00c;
	font-size: 1em;
}

aside .aside-categories a {
	display: block;
	text-decoration: none;
	color: white;
	background: #00b;
	border-left: 1em solid #fc0;
	padding: 0.25em 0.5em 0.4em 0.75em;
}


aside .aside-categories a.clicked { 
	/*border-color: #5bd #035 #068 #f30; */
	border-color: #5bd #5bd #5bd #f30;
}

aside .aside-categories a:hover
{
	background: #00a;
	/*border-color: #069 #6cf #5bd #0cf;*/
	border-color: #006;
	padding: 0.4em 0.35em 0.25em 0.9em;
}

aside .aside-categories a:active
{
	background: #17a;
	border-color: #069 #6cf #5bd white;
	padding: 0.4em 0.35em 0.25em 0.9em;
}

a.new_calendar, a.new_event {
	display:block;
	color: white;
	text-decoration: none;
}

a.new_calendar:hover, a.new_event:hover {
	color: #aaa;
}

.wrapper-articles {
	margin: 10px;
	min-height: 475px;	
}


article {
	margin-bottom: 20px;
}

article .info {
	color: #FFBF40;
	margin: 0;
	background-color: #099;
	padding-left: 10px;
	
}

article .article-content {
	color: white;
	margin: 0;
	padding: 10px;
	background-color: #099;
	word-wrap: break-word;
	border-radius: 0 0 10px 10px;
}

article h2 {
	margin: 0;
	width: 450px;
	overflow: hidden;
}

.title {
	border-radius: 10px 10px 0 0;
	padding: 5px 5px 0 10px;
	margin: 0;
	background-color: #099;	
	width: 515px;
	padding-right: 105px;
	overflow: hidden;
}


article a {
	color: #FFAA00;	
	text-decoration: none;
}

.default-form label{
	display: block;
}

.submit-default{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	width: 235px;
}

.info-line1 {
	display: block;
}

.info-line2 {
	display: block;
}

.user-image {
	display: block;
	margin: auto auto;
	margin-left: 43%;
}

.user {
	float: right;
	width: 300px;
	text-align: center;
	padding-top: 5px;
}

.likes {
	float: right;
	width: 50px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-right: 15px;
	background-color: #AAAAAA;
	border: 1px solid white;
	color: black;
}


.welcome {
	display: block;
	color: #FFBF40;
}

.admin-cp {
	display: block;
}


.edit a, .remove a{
	color: #33FF33;
}

.positive {
	background-color: #33FF33;
}

.negative {
	background-color: #FF3333;
}

.header-img {
	display: inline;
	float: left;
	margin: 0 5px;
}

.header-article-expand {
	overflow: hidden;
}

.header-article-expand .user-expand {
	float: left;
	margin: 18px 0 0 18px;	

}

.header-article-expand .title {
	float: left;
	padding-top: 10px;
	padding-right: 0;	
	margin: 0;
	background-color: #099;	
	width: 455px;
	overflow: visible;
	font-size: 1.5em;
	word-wrap: break-word;
	height: 100px;
}

.header-article-expand .likes {
	float: right;
	width: 50px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-right: 15px;
	background-color: #AAAAAA;
	border: 1px solid white;
	margin-top: 10px;
}


.header-article-expand .positive {
	background-color: #33FF33;
}

.header-article-expand .negative {
	background-color: #FF3333;
}

.header-article-expand .info {
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	padding-right: 0;	
	margin: 0;
	background-color: #099;	
	width: 620px;
	overflow: visible;
}

.header-article-expand .show-username {
	display: block;
}

.header-article-expand .like {
	float: right;
	top: 150px;
	position: absolute;
	display: inline;
	
}
.clear {
	clear: both;
}

.submit-like {
	width: 30px;
	background-color: #33FF33;
	border: 2px solid #008800;
}

.submit-dislike {
	width: 30px;
	background-color: #FF3333;
	border: 2px solid #AA0000;
}

.comments h3 {
	color: #FFBF40;
	
}

.comment-textarea {
	width: 99%;
}

.comment-content {
	width: 100%;
	word-wrap: break-word;
}

.comment {
	border: 1px solid white;
	padding: 10px;

} 
.comment .user-expand {
	float: left;
	margin: 0 5px 0 0;	

}

.comment .user-name {
	float: left;
	padding-top: 10px;
	padding-right: 0;	
	margin: 0;
	background-color: #099;	
	width: 375px;
	overflow: visible;
	font-size: 1.5em;
	word-wrap: break-word;
	height: 50px;
	
}

.form-logout, .logout-button {
	display: block;
	margin: 0;
	padding: 0;
}

.logout-button {
	display: block;
	font-size: 1em;
	background-color: transparent;
	/*text-decoration: underline;*/
	border: none;
	cursor: pointer;
	display: block;
   	margin-right: 20px;
   	margin-top: 5px;
	color: #FFAA00;
	text-decoration: none;
}

.form-remove, .submit-remove {
	display: inline;
	margin: 0;
	padding: 0;
}

.submit-remove  {
	display: inline-block;
	background-color: transparent;
	/*text-decoration: underline;*/
	border: none;
	cursor: pointer;
	color: #33FF33;
	text-decoration: none;
}

.body_text {
	width: 603px;
}

.time-comment {
	clear: both;
}

.comment header .like {
	float: right;
	margin-top: 36px;
	margin-right: -55px;
	
}

.paginate {
	margin-left: auto;
	margin-right: auto;
	width: 680px;
	text-align: center;
}

.paginate ul {
	list-style-type: none;
	padding: 0;
}

.paginate li {
	display: inline-block;
	margin-left: 3px;
}

.remove {
	display: inline;
}

.global_label {
	display: inline-block !important;
}

.chore_label {
	display: inline-block !important;
}

.time_select {
	-webkit-appearance: none;
	-moz-appearance: tab;
}

.event-complete {
}

.event-complete span {
	text-decoration: line-through;
}

.second_button {
	position: absolute;
	display: none;
	border: 1px solid black;
	border-radius: 3px;
	background: #ccc;
	width: 100px;
	text-align: center;
	z-index: 1000;
}

.second_button ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.second_button li {
	margin: 0;
	padding: 2px;
}

.second_button a {
	color: #008;
	display: block;
	text-decoration: none;
}

.second_button a:active {
	color: #008;
}

.second_button a:hover {
	background-color: yellow;
}

.single_event:hover {
	cursor: pointer;
}

.single_event {
	margin: 5px;
}

.single_event.global > div{
	border-top: 5px solid black !important;
}

.single_event.event-chore > div {
	border-bottom: 5px solid black !important;
}

.fc-today {
	background-color: #dda !important;
}

.logged, .unlogged {
	display: none;
}

ul.rooms_list {
	list-style-type: none;
	padding: 10px 0 0 0;
	margin: 0;
}

ul.rooms_list .room_row {
	padding: 5px;
	display: inline-block;
}


ul.rooms_list li:nth-child(odd) {
	background-color: #EEE;
}

ul.rooms_list li:nth-child(even) {
	background-color: #D9D9D9;
}

ul.rooms_list li.head {
	background-color: #CCC;
	font-weight: bold;
}

a.room_link {
	text-decoration:none;
	color: #3A3;	
}

ul.rooms_list li.private_room a.room_link {
	color:#A33;
}

a.room_link:hover {
	background-color: #CCF;
}

.room_name {
	display: inline-block;
	width: 200px;
}

.room_category {
	display: inline-block;
	width: 430px;
}

.room_host {
	display: inline-block;
	width: 200px;
}

a.btn {
	text-decoration: none;
}

input.btn {
	font-family: Tahoma, Geneva, sans-serif;
}

button::-moz-focus-inner,
input::-moz-focus-inner { 
	padding: 0;
	border: 0;
}

input {
	line-height: normal;
}

.btn {
	border: none;
	background: #DDD;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	padding: 1px;
	vertical-align:middle;
	color: black;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	padding: 6px 12px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);	
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(1, rgba(0, 0, 0, 0.2)));
	background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.2));
}

.btn:hover {
	color: black;
	text-decoration: none;
	background-position: top;
}

.btn:active {
	color: black;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	background-position: bottom;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, transparent), color-stop(1, rgba(0, 0, 0, 0.2)));
	background-image: -moz-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.2));
}


.home-link {
	padding: 20px;
}

.submit-login {
	width: 110px;
	height: 50px;
	margin: 0 5px;
}


.right-header {
	display: block;
	float: right;
	margin: 10px;
	margin-right: 0;
	width: 450px;
}

.right-header a {
	margin-right: 20px;
	display: inline-block;
}

.login-container {
	margin-right: 10px;
	float: right;
}

.login-container:after {
	clear: right;
}

.login-container input[type="text"],
.login-container input[type="password"] {
	width: 150px;
}

#paper {
	float: right;
	/*background-color: gray;*/
	height: 500px;
	width: 500px;
	position: relative;
	border: 1px solid black;
}

.tools {
	float: right;
	margin-left: 20px;
}


.tools ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 60px;
}

.tools li {
	margin: 2px;
	float: left;
	height: 20px;
	width: 20px;
	border: 1px solid black;
	text-align: center;
	
}

.tools li:hover {
	background-color: #66E;
	cursor: pointer;

}

.dcolor {
	border: 1px solid black;
	height: 10px;
	width: 10px;
	margin: 3px;
	display: inline-block;
}

#color-000000 .dcolor{
	background-color: #000000;
}

#color-FFFFFF .dcolor{
	background-color: #ffffff;
}

#color-7F7F7F .dcolor{
	background-color: #7F7F7F;
}

#color-C3C3C3 .dcolor{
	background-color: #C3C3C3;
}

#color-880015 .dcolor{
	background-color: #880015;
}

#color-B97A57 .dcolor{
	background-color: #B97A57;
}

#color-ED1C24 .dcolor{
	background-color: #ED1C24;
}

#color-FFAEC9 .dcolor{
	background-color: #FFAEC9;
}

#color-FF7F27 .dcolor{
	background-color: #FF7F27;
}

#color-FFC90E .dcolor{
	background-color: #FFC90E;
}

#color-FFF200 .dcolor{
	background-color: #FFF200;
}

#color-EFE4B0 .dcolor{
	background-color: #EFE4B0;
}

#color-22B14C .dcolor{
	background-color: #22B14C;
}

#color-B5E61D .dcolor{
	background-color: #B5E61D;
}

#color-00A2E8 .dcolor{
	background-color: #00A2E8;
}

#color-99D9EA .dcolor{
	background-color: #99D9EA;
}

#color-3F48CC .dcolor{
	background-color: #3F48CC;
}

#color-7092BE .dcolor{
	background-color: #7092BE;
}

#color-A349A4 .dcolor{
	background-color: #A349A4;
}

#color-C8BFE7 .dcolor{
	background-color: #C8BFE7;
}

.derase {
	border-radius: 50%/50%;
	display: inline-block;
	margin: auto 0;
	border: 1px dashed black;
	width: 12px;
	height: 12px;
	margin: 1px;
}

.dot {
	border-radius: 50%/50%;
	background-color: black;
	display: inline-block;
	margin: auto 0;
}

#size1 .dot {
	width: 5px;
	height: 5px;
	margin: 5px;
}

#size2 .dot {
	width: 10px;
	height: 10px;
	margin: 3px;
}

#size3 .dot {
	width: 15px;
	height: 15px;
	margin: 1px;
}

#size4 .dot {
	width: 18px;
	height: 18px;
}
.chat_container {
	float: left;
}

.chat_container textarea {
	height: 470px;
	width: 320px;
}

#chat_msg {
	width: 266px;
}

#words_new_category {
	width: 659px;
	height: 355px;
}

a.new_category {
	width: 208px;
	text-align: center;
}

.search_input {
	display: inline-block;
	width: 770px;
	height: 30px;
	margin-left: 15px;
	padding-left: 5px;
}

.search-form {
	display: inline-block;
	float: right;
}

.new_room {
	float:left;
}


.rooms-header {
	margin-bottom: 10px;
}

.rooms_list {
	clear:both;
	margin-top: 15px;
}

.user_item {
	text-decoration:none;
	color: white;
	display: block;
	height: 30px;
}

.room_username {
	float: left;
	margin-top: 7px;
	margin-left: 7px;
}

.room_user_points {
	float: right;
	margin-top: 7px;
	margin-right: 7px;
}

.room_user_image {
	float: left;
}

.room_title {
	font-size: 20px;
	display: block;
	text-align: center;
	margin-bottom: 14px;
	color: white;
	font-weight: bold;
}

.room_word {
	display: block;
}

.room_word_specific {
	display: block;
	margin-bottom: 14px;
	color: white;
}

.room_word_general {
	display: block;
}

.draw_timer {
	display: block;
	text-align: center;
	font-size: 24px;
}

.root_page {
	width: 1200px;
	text-align: center;
}

.is_friend {
	color: #AFA;
}

.is_drawer {
	color: red;
}
