body {
	font-family: Tahoma, Geneva, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

header {
	margin: 0;
}

h2 {
	margin-top: 0;
}


.wrapper, .wrapper-content {
	background-color: #080;
	width: 1200px;
	margin: 0 auto;
	margin-bottom: 0;
	margin-top: 0;
}

.site-header {
	background-color: #0a0;
	border-bottom: 1px solid #0c0;
	clear: both;
	overflow: hidden;
	height: 90px;
	width: 1200px;
	margin: 0 auto;
}

.site-header .wrapper {
	background-color: #0a0;
}

.left-header {
	display: block;
	float: left;
}

.home-link {
	display: block;
	font-variant: small-caps;
	font-size: 36px;
	padding: 10px 10px 10px 0;
}

.site-header a {
	text-decoration: none;
	color: #FFAA00;
}

.error {
	display: block;
	color: #FF9090;
}

.success {
	display: block;
	color: #33FF33;
}


.right-header {
	display: block;
	float: right;
	margin: 10px;
	margin-right: 0;
	width: 400px;
}

.right-header a {
	margin-right: 20px;
	margin-top: 5px;
	display: inline-block;
}

.login-form {
	display: block;
	clear: both;
	overflow: hidden;
}

.input-login {
	display: block;
	float: left;
}

.submit-login {
	display: block;
	float: right;
	width: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 3px;
}

.input-login label {
	width: 90px;
	display: inline-block;
	color: #FFBF40;
}

section {
	background-color: #FFFFFF;
	width: 950px;
	float: right;
}

aside {
	width: 250px;
	float: left;
	height: 100%;
	color: #FFBF40;
}


.clear-footer {
	clear: both;
}

footer {
	border-top: 1px solid #0c0;
	background-color: #0a0;
	clear: both;
	height: 60px;
	text-align: center;
	color: #FFBF40;
	margin: 0 auto;
	width: 1200px;
}

footer p {
	margin: 0;
}

.wrapper-aside {
	margin: 10px;	
}

aside ul {
	color: white;
	background: #080;
	border-bottom: 0.2em solid #080;
	border-right: 0.2em solid #080;
	padding: 0 1px;
	margin-left: 0;
	width: 230px;
	font: normal 0.8em Verdana, sans-serif;
}

aside li {
	list-style: none;
	margin: 0.5em 0;
	padding: 0;
	border: 1px solid #0c0;
	font-size: 1em;
}

aside .aside-calendars a {
	display: block;
	text-decoration: none;
	color: white;
	background: #0b0;
	border-left: 1em solid #fc0;
	padding: 0.25em 0.5em 0.4em 0.75em;
}


aside .aside-calendars a.current { 
	/*border-color: #5bd #035 #068 #f30; */
	border-color: #5bd #5bd #5bd #f30;
}

aside .aside-calendars a:hover:not(.global), aside .aside-calendars a.current:hover:not(.global)
{
	background: #0a0;
	/*border-color: #069 #6cf #5bd #0cf;*/
	border-color: #060;
	padding: 0.4em 0.35em 0.25em 0.9em;
}

aside .aside-calendars a.global {
	text-decoration: none;
	outline: 0;
	cursor: default;
	background-color: green;
	border-color: #0F0;
}

aside .aside-calendars a:active:not(.global), aside .aside-calendars a.current:active:not(.global)
{
	background: #17a;
	border-color: #069 #6cf #5bd white;
	padding: 0.4em 0.35em 0.25em 0.9em;
}

a.new_calendar, a.new_event {
	display:block;
	color: white;
	text-decoration: none;
}

a.new_calendar:hover, a.new_event:hover {
	color: #aaa;
}

.wrapper-articles {
	margin: 10px;
	min-height: 800px;	
}


article {
	margin-bottom: 20px;
}

article .info {
	color: #FFBF40;
	margin: 0;
	background-color: #099;
	padding-left: 10px;
	
}

article .article-content {
	color: white;
	margin: 0;
	padding: 10px;
	background-color: #099;
	word-wrap: break-word;
	border-radius: 0 0 10px 10px;
}

article h2 {
	margin: 0;
	width: 450px;
	overflow: hidden;
}

.title {
	border-radius: 10px 10px 0 0;
	padding: 5px 5px 0 10px;
	margin: 0;
	background-color: #099;	
	width: 515px;
	padding-right: 105px;
	overflow: hidden;
}


article a {
	color: #FFAA00;	
	text-decoration: none;
}

.default-form label{
	display: block;
}

.submit-default{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: block;
	width: 235px;
}

.info-line1 {
	display: block;
}

.info-line2 {
	display: block;
}

.user-image {
	display: block;
	margin: auto auto;
	margin-left: 43%;
}

.user {
	float: right;
	width: 300px;
	text-align: center;
	padding-top: 5px;
}

.likes {
	float: right;
	width: 50px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-right: 15px;
	background-color: #AAAAAA;
	border: 1px solid white;
	color: black;
}


.welcome {
	display: block;
	color: #FFBF40;
}

.admin-cp {
	display: block;
}


.edit a, .remove a{
	color: #33FF33;
}

.positive {
	background-color: #33FF33;
}

.negative {
	background-color: #FF3333;
}

.header-img {
	display: inline;
	float: left;
	margin: 0 5px;
}

.header-article-expand {
	overflow: hidden;
}

.header-article-expand .user-expand {
	float: left;
	margin: 18px 0 0 18px;	

}

.header-article-expand .title {
	float: left;
	padding-top: 10px;
	padding-right: 0;	
	margin: 0;
	background-color: #099;	
	width: 455px;
	overflow: visible;
	font-size: 1.5em;
	word-wrap: break-word;
	height: 100px;
}

.header-article-expand .likes {
	float: right;
	width: 50px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	margin-right: 15px;
	background-color: #AAAAAA;
	border: 1px solid white;
	margin-top: 10px;
}


.header-article-expand .positive {
	background-color: #33FF33;
}

.header-article-expand .negative {
	background-color: #FF3333;
}

.header-article-expand .info {
	border-radius: 10px 10px 0 0;
	padding-top: 10px;
	padding-right: 0;	
	margin: 0;
	background-color: #099;	
	width: 620px;
	overflow: visible;
	word-wrap: none;
}

.header-article-expand .show-username {
	display: block;
}

.header-article-expand .like {
	float: right;
	top: 150px;
	position: absolute;
	display: inline;
	
}
.clear {
	clear: both;
}

.submit-like {
	width: 30px;
	background-color: #33FF33;
	border: 2px solid #008800;
}

.submit-dislike {
	width: 30px;
	background-color: #FF3333;
	border: 2px solid #AA0000;
}

.comments h3 {
	color: #FFBF40;
	
}

.comment-textarea {
	width: 99%;
}

.comment-content {
	width: 100%;
	word-wrap: break-word;
}

.comment {
	border: 1px solid white;
	padding: 10px;

} 
.comment .user-expand {
	float: left;
	margin: 0 5px 0 0;	

}

.comment .user-name {
	float: left;
	padding-top: 10px;
	padding-right: 0;	
	margin: 0;
	background-color: #099;	
	width: 375px;
	overflow: visible;
	font-size: 1.5em;
	word-wrap: break-word;
	height: 50px;
	
}

.form-logout, .logout-button {
	display: block;
	margin: 0;
	padding: 0;
}

.logout-button {
	display: block;
	font-size: 1em;
	background-color: transparent;
	/*text-decoration: underline;*/
	border: none;
	cursor: pointer;
	cursor: hand;
	display: block;
   	margin-right: 20px;
   	margin-top: 5px;
	color: #FFAA00;
	text-decoration: none;
}

.form-remove, .submit-remove {
	display: inline;
	margin: 0;
	padding: 0;
}

.submit-remove  {
	display: inline-block;
	background-color: transparent;
	/*text-decoration: underline;*/
	border: none;
	cursor: pointer;
	cursor: hand;
	color: #33FF33;
	text-decoration: none;
}

.body_text {
	width: 603px;
}

.time-comment {
	clear: both;
}

.comment header .like {
	float: right;
	margin-top: 36px;
	margin-right: -55px;
	
}

.paginate {
	margin-left: auto;
	margin-right: auto;
	width: 680px;
	text-align: center;
}

.paginate ul {
	list-style-type: none;
	padding: 0;
}

.paginate li {
	display: inline-block;
	margin-left: 3px;
}

.remove {
	display: inline;
}

.global_label {
	display: inline-block !important;
}

.chore_label {
	display: inline-block !important;
}

.time_select {
	-webkit-appearance: none;
	-moz-appearance: tab;
}

.event-complete {
}

.event-complete span {
	text-decoration: line-through;
}

.second_button {
	position: absolute;
	display: none;
	border: 1px solid black;
	border-radius: 3px;
	background: #ccc;
	width: 100px;
	text-align: center;
	z-index: 1000;
}

.second_button ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.second_button li {
	margin: 0;
	padding: 2px;
}

.second_button a {
	color: #080;
	display: block;
	text-decoration: none;
}

.second_button a:active {
	color: #080;
}

.second_button a:hover {
	background-color: yellow;
}

.single_event:hover {
	cursor: pointer;
}

.single_event {
	margin: 5px;
}

.single_event.global > div{
	border-top: 5px solid black !important;
}

.single_event.event-chore > div {
	border-bottom: 5px solid black !important;
}

.fc-today {
	background-color: #dda !important;
}
