{% extends "base.html" %}
{% load url from future %}
{% load i18n %}

{% block content %}

<section>

    <form class="form signup_form" action="" method="post">
        {% csrf_token %}
        <div>
            {% if user_form.errors %}
                <p class="errornote">
                    {% blocktrans count counter=user_form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}

            <h1>{% trans 'Sign Up' %}</h1>


            <fieldset class="module aligned wide">

                <div class="form-row">
                    {{ user_form.username.errors }}
                    <label for="id_username" class="required">{% trans 'Username' %}:</label>{{ user_form.username }}
                </div>
                <div class="form-row">
                    {{ user_form.email.errors }}
                    <label for="id_email" class="required">{% trans 'Email' %}:</label>{{ user_form.email }}
                </div>
                <div class="form-row">
                    {{ user_form.password1.errors }}
                    <label for="id_password1" class="required">{% trans 'Password' %}:</label>{{ user_form.password1 }}
                </div>
                <div class="form-row">
                    {{ user_form.password2.errors }}
                    <label for="id_password2" class="required">{% trans 'Password (again)' %}:</label>{{ user_form.password2 }}
                </div>

            </fieldset>

            <div class="submit-row">
                <input type="submit" value="{% trans 'Signup' %}" class="default" />
            </div>

            <script type="text/javascript">document.getElementById("id_username").focus();</script>
        </div>

    </form>
</section>
{% endblock %}
