{% extends "base.html" %}
{% load url from future %}
{% load i18n %}


{% block content %}
<section>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <div>
            {% if form.errors %}
                <p class="errornote">
                    {% blocktrans count counter=form.errors.items|length %} Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
                </p>
            {% endif %}
            <h1>{% trans 'Lost Password' %}</h1>
            <fieldset class="module aligned wide">
                <div class="form-row">
                    {{ form.email.errors }}
                    <label for="id_email" class="required">{% trans 'Email' %}: </label>{{ form.email }}
                    <span class="field_desc"> An email with a reset password link will be sent to this address </span>
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="{% trans 'Send email' %}" class="default" />
            </div>

            <script type="text/javascript">document.getElementById("id_email").focus();</script>
        </div>
    </form>
</section>
{% endblock %}
